table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align:center;
  background-color: white;;
}
.timetable-container {
	margin-top: 45px; /* Adjust the top margin for better positioning */
	margin-left: auto;
	margin-right: auto;
  }
  
table {
	border-collapse: collapse;
	text-align: center;
	font-size: 14px; /* Increase the font size for better visibility */
	width: 100%; /* Set the table width to 100% for responsiveness */
 }
th,td{
	padding: 2px; /* Add some padding to the cells */
  height: 60px;
  font-family: "Audiowide", sans-serif;
}
th{
	color: rgb(74, 2, 64);
	font-family: "Audiowide", sans-serif;
}
.day1,.day2,.day3,.day4,.day5{
	color: rgb(74, 2, 64);
	font-size: 20px;
	font-family: "Audiowide", sans-serif;
}
body{
	background-image: url("https://static.vecteezy.com/system/resources/previews/002/756/452/original/abstract-background-with-technology-circuit-board-texture-electronic-motherboard-illustration-communication-and-engineering-concept-illustration-free-vector.jpg");
}
H1{
	font-family: "Audiowide", sans-serif;
	font-size: 50px;
}
h2{
	font-family: "Audiowide", sans-serif;
	font-size: 30px;
}
.CN{
	background-color: #cfe4f7;
}
.HCI{
	background-color: #d3f4cd;
}
.POAI{
	background-color: #f9d7e7;
}
.IP{
	background-color:#c19eee ;
}
.TOC{
	background-color: #fff7c2;
}
.RPA{
	background-color:  #87e39e;
}
.pc{
	background-image:linear-gradient(to right, #f9d7e7,#cfe4f7);
}
.ipa{
	background-image:linear-gradient(to right,#c19eee, #f9d7e7);
}
.hi{
	background-image: linear-gradient(to right,#d3f4cd,#c19eee);
}
.ic{
	background-image:linear-gradient(to right,#c19eee, #cfe4f7);
}
.ch{
	background-image:linear-gradient(to right, #cfe4f7, #d3f4cd);
}
.ci{
	background-image:linear-gradient(to right, #cfe4f7, #c19eee);
}
.coun{
	background-color: #8282fb;
}
.vap{
	background-color: #ffdab9;
}
.CN,.HCI,.IP,.POAI,.RPA,.TOC,.ch,.ci,.coun,.vap,.hi,.ic,.ipa,.pc{
	position: relative;
}
.CN::before{
	content:attr(data-title);
	position: absolute;
	padding-top:1em;
	top:0;
	left:20%;
	transform:translate(0%,-0%);
	background-color: #cfe4f7;
	height: 50px;
	opacity: 0;
	visibility: hidden;
}
.CN:hover::before{
	opacity: 1;
	visibility: visible;
}
.HCI::before{
	content:attr(data-title);
	position: absolute;
	padding-top:1em;
	top:0;
	left:10%;
	transform:translate(0%,-0%);
	background-color: #d3f4cd;
	height: 50px;
	opacity: 0;
	visibility: hidden;
}
.HCI:hover::before{
	opacity: 1;
	visibility: visible;
}
.IP::before{
	content:attr(data-title);
	position: absolute;
	padding-top:1em;
	top:0;
	left:10%;
	transform:translate(0%,-0%);
	background-color: #c19eee;
	height: 50px;
	opacity: 0;
	visibility: hidden;
}
.IP:hover::before{
	opacity: 1;
	visibility: visible;
}
.RPA::before{
	content:attr(data-title);
	position: absolute;
	padding-top:1em;
	top:0;
	left:10%;
	transform:translate(0%,-0%);
	background-color: #87e39e;
	height: 50px;
	opacity: 0;
	visibility: hidden;
}
.RPA:hover::before{
	opacity: 1;
	visibility: visible;
}
.POAI::before{
	content:attr(data-title);
	position: absolute;
	padding-top:1em;
	top:0;
	left:10%;
	transform:translate(0%,-0%);
	background-color: #f9d7e7;
	height: 50px;
	opacity: 0;
	visibility: hidden;
}
.POAI:hover::before{
	opacity: 1;
	visibility: visible;
}
.TOC::before{
	content:attr(data-title);
	position: absolute;
	padding-top:1em;
	top:0;
	left:20%;
	transform:translate(0%,-0%);
	background-color: #fff7c2;
	height: 50px;
	opacity: 0;
	visibility: hidden;
}
.TOC:hover::before{
	opacity: 1;
	visibility: visible;
}
.coun::before{
	content:attr(data-title);
	position: absolute;
	padding-top:1em;
	top:0;
	left:20%;
	transform:translate(0%,-0%);
	background-color: #8282fb;
	height: 50px;
	opacity: 0;
	visibility: hidden;
}
.coun:hover::before{
	opacity: 1;
	visibility: visible;
}
.vap::before{
	content:attr(data-title);
	position: absolute;
	padding-top:1em;
	top:0;
	left:19%;
	transform:translate(0%,-0%);
	background-color: #ffdab9;
	height: 50px;
	opacity: 0;
	visibility: hidden;
}
.vap:hover::before{
	opacity: 1;
	visibility: visible;
}